<hr style="border: 4px solid red;">

## **Dış Kaynaklı Veri Okumak**

#### **.txt ve .csv Formatı:**
* Burada SQL ortamları dışında en çok karşılaşacağımız **'.txt'**, **'.csv'**, **'.xlsx'** 3 veri formatını da ele alacağız
* Bu işlem için 'Pandas' içerisinden bazı fonksiyonlar gerekli
* **.txt** ve **.csv** formunu aynı fonkisiyon ile okuyabiliyoruz:
  > txt ve cvs formatındaki veri setleri genelde ';' ile ayrılır ama bizim default ayracımız ','dür. Yani iki tane parametre vereceğiz:
  >> İlk parametre dosyanın uzantısı(pwd), ikinci parametre ise 'sep' parametresidir:
  >>> pd.read_csv("reading_data/ornekcsv.csv", sep = ';') <br>
      pd.read_csv("reading_data/duz_metin.txt")
* Yukarıda txt dosyasının orijanilinde ' ' boşluk işe ayrılmıştır ona rağmen ayrımı düzgün yapabilmiştir. Çünkü boşluğu da okuyabilmektedir her ne kadar default değeri ',' de olsa


#### **.xlsx Formatı(Excel):**
* Burada ise yine pandas'tan **'read_excel'** fonksiyonunu kullanacağız
  > pd.read_excel("reading_data/ornekx.xlsx")



<div style="background-color:yellow; padding:10px; border-radius:5px;">
    * Eğer internetten indirdiğimiz dosyanın orijinali csv bile olsa o dosya html uzantısıyla indirilebilir. Bunun için GitHub'ta o dosyanın içerisine girersek sağ üst köşede <strong>'Raw'</strong>  ifadesinden kopyalayıp...<br>
    * Ardından JupyterLab'a gelir 'Launcher' sayfasından <strong>'Text File'</strong> açıp onun içine kopyalarsak o kendisi onu orjinal uzantılı haline çevirir ve o dosyayı kaydederek işlemimizi gerçekleştirebiliriz
</div>

In [48]:
import pandas as pd

pd.read_csv("reading_data/ornekcsv.csv", sep = ';')

pd.read_csv("reading_data/duz_metin.txt", sep = ';')


pd.read_excel("reading_data/ornekx.xlsx")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0